p{
    
    margin: 0;
}
.video-title{
font-size: 15px;
font-weight: bold;
line-height: 22px;
margin-bottom: 10px;
}
.video-author, .video-stats{
    
}
.video-stats{
font-size: 12px;
color: rgb(96, 96, 96);
margin-bottom: 20px;
}
.video-author{
color: rgb(96, 96, 96);
font-size: 12px;
margin-bottom: 4px;
}
.video-description{
color: rgb(96, 96, 96);
font-size: 14px;
line-height: 22px;
}
.apple-text{
margin-top: 50px;
font-size: 14px;
background-color: rgb(227, 65, 64);
color: white;
text-align: center;
padding: 18px 0;
}
.shop-link:hover{
cursor: pointer;
text-decoration: underline;
}